*{
    font-family: 'Times New Roman', Times, serif;
}

.playerList{
    display: flex;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width:780px) {
    .playerList{
        display: block; 
    }
}